body {
    background-color: #1a1a1a;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fff;
}

p {
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

a {
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    margin-right: 10px;
    margin-left: 10px;
}